@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
// font-family: "Roboto Mono", monospace;
// font-family: "Roboto Flex", monospace;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #0F0F0F;
    nav {
        width: 94vw;
        height: 11.75vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #1A1A1A;
        border-radius: 16px;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12vw;
        }
        .navigat {
            width: 53vw;
            display: flex;
            flex-direction: row;
            ul {
                width: 40vw;
                display: flex;
                gap: 1vw;
                a {
                    color: #81807E;
                    text-decoration: none;
                    list-style: none;
                    font-family: "Roboto Mono", monospace;
                    .li1 {
                        width: 5vw;
                        height: 6.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0F0F0F;
                        border-radius: 12px;
                        font-size: 1.125rem;
                    }
                    .li2, .li3 {
                        width: 7vw;
                        height: 6.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0F0F0F;
                        border-radius: 12px;
                        font-size: 1.125rem;
                    }
                    .li4 {
                        width: 5.4vw;
                        height: 6.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0F0F0F;
                        border-radius: 12px;
                        font-size: 1.125rem;
                    }
                    .li5 {
                        width: 6.5vw;
                        height: 6.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0F0F0F;
                        border-radius: 12px;
                        font-size: 1.125rem;
                    }
                    .li6 {
                        width: 5.4vw;
                        height: 6.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0F0F0F;
                        border-radius: 12px;
                        font-size: 1.125rem;
                    }
                    .li7 {
                        color: #0F0F0F;
                        width: 8.2vw;
                        height: 6.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #CE7D63;
                        border-radius: 12px;
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}
.sect1 {
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect1_all {
        width: 94vw;
        height: 48vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .sect1_left {
            width: 63vw;
            height: 48vh;
            background-color: rgb(26, 26, 26);
            border: 1px solid rgba(38, 38, 38, 1);
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            .sect1_left_wh {
                width: 57vw;
                height: 38vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                .sect1_title_box {
                    width: 57vw;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5vh;
                    .sect1_title_row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1vw;
                        p {
                            font-size: 4.625rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 600;
                            font-family: "Roboto Flex", monospace;
                            line-height: 100%;
                            text-transform: uppercase;
                            white-space: nowrap;
                        }
                        .sect1_project_btn {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5vw;
                            border-radius: 100px;
                            height: 5vh;
                            width: 13.5vw;
                            justify-content: center;
                            cursor: pointer;
                            .sect1_btn_circle {
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            p {
                                font-size: 1.125rem;
                                color: rgba(218, 158, 139, 1);
                                font-weight: 500;
                                font-family: "Roboto Mono", monospace;
                                text-transform: uppercase;
                                white-space: nowrap;
                            }
                        }
                    }
                    .sect1_title_low {
                        p {
                            font-size: 4.625rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 600;
                            font-family: "Roboto Flex", monospace;
                            line-height: 100%;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .sect1_right {
            width: 29.5vw;
            height: 48vh;
            background-color: rgb(26, 26, 26);
            border: 1px solid rgba(38, 38, 38, 1);
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            .sect1_right_wh {
                width: 26vw;
                height: 42vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sect1_stats_grid {
                    width: 26vw;
                    height: 32vh;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: space-between;
                    .sect1_stat_box {
                        width: 12.5vw;
                        height: 15vh;
                        background-color: rgba(31, 31, 31, 1);
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 0.8vh;
                        .sect1_stat_title {
                            font-size: 1.125rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 500;
                            font-family: "Roboto Mono", monospace;
                            text-transform: uppercase;
                        }
                        .sect1_stat_num {
                            font-size: 3.75rem;
                            color: rgba(218, 158, 139, 1);
                            font-weight: 600;
                            font-family: "Roboto Flex", monospace;
                        }
                    }
                }
                .sect1_know_btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5vw;
                    cursor: pointer;
                    .sect1_know_circle {
                        border-radius: 50%;
                        border: 1px solid rgba(45, 45, 45, 1);
                        background-color: rgba(20, 20, 20, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p {
                        font-size: 1.125rem;
                        color: rgba(179, 179, 178, 1);
                        font-weight: 500;
                        font-family: "Roboto Mono", monospace;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.otst1 {
   height: 6vh;
   background-color: rgba(15, 15, 15, 1);
}
.sect2 {
    width: 100vw;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect2_all {
         width: 94vw;
         height: 70vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 1vw;
         align-items: center;
         border: 2px solid rgb(31, 31, 31);
         border-radius: 24px;
        .sect2_header {
            width: 90vw;
            height: 14vh;
            background-color: rgb(26, 26, 26);
            border: 1px solid rgba(38, 38, 38, 1);
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sect2_header_wh {
                width: 85vw;
                height: 14vh;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .sect2_header_text {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 3rem;
                        color: rgba(249, 239, 236, 1);
                        font-weight: 600;
                        font-family: "Roboto Flex", monospace;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                }
                .sect2_header_btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.8vw;
                    justify-content: center;
                    cursor: pointer;
                    .sect2_header_btn_circle {
                        border-radius: 50%;
                        border: 1px solid rgba(45, 45, 45, 1);
                        background-color: rgba(20, 20, 20, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p {
                        font-size: 1.125rem;
                        color: rgba(179, 179, 178, 1);
                        font-weight: 500;
                        font-family: "Roboto Mono", monospace;
                        line-height: 150%;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .sect2_cards_all {
            width: 90vw;
            height: 48vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sect2_card {
                width: 21.5vw;
                height: 48vh;
                background-color: rgb(26, 26, 26);
                border: 1px solid rgba(38, 38, 38, 1);
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                .sect2_card_wh {
                    width: 18vw;
                    height: 42vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .sect2_user_info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.6vh;
                        .sect2_user_name {
                            font-size: 1.375rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 500;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                        }
                        .sect2_user_role {
                            font-size: 1rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 400;
                            font-family: "Roboto Flex", monospace;
                        }
                    }
                    .sect2_card_photo {
                        width: 18vw;
                        height: 23vh;
                        background-color: rgba(224, 178, 163, 1);
                        border-radius: 12px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .sect2_socials {
                        display: flex;
                        flex-direction: row;
                        gap: 0.8vw;
                        .sect2_social_btn {
                            border-radius: 50%;
                            background-color: rgba(31, 31, 31, 1);
                            border: 1px solid rgba(45, 45, 45, 1);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
.otst1 {
   height: 6vh;
   background-color: rgba(15, 15, 15, 1);
}
.sect3 {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect3_all {
         width: 94vw;
         height: 57vh;
         display: flex;
         flex-direction: column;
         gap: 1vw;
         justify-content: center;
         align-items: center;
         border: 2px solid rgb(31, 31, 31);
         border-radius: 24px;
        .sect3_header {
            width: 90vw;
            height: 14vh;
            background-color: rgb(26, 26, 26);
            border: 1px solid rgba(38, 38, 38, 1);
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sect3_header_wh {
                width: 85vw;
                height: 14vh;
                display: flex;
                align-items: center;
                .sect3_header_text {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 3rem;
                        color: rgba(249, 239, 236, 1);
                        font-weight: 600;
                        font-family: "Roboto Flex", monospace;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .sect3_cards_all {
            width: 90vw;
            height: 36vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sect3_card {
                width: 21.5vw;
                height: 36vh;
                background-color: rgb(26, 26, 26);
                border: 1px solid rgba(38, 38, 38, 1);
                border-radius: 16px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sect3_card_top {
                    width: 21.5vw;
                    height: 18vh;
                    background-color: rgb(31, 31, 31);
                    border-bottom: 1px solid rgba(45, 45, 45, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect3_card_top_wh {
                        width: 18vw;
                        height: 13vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        .sect3_card_date {
                            font-size: 1rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 400;
                            font-family: "Roboto Mono", monospace;
                        }
                        .sect3_card_title {
                            width: 15vw;
                            font-size: 1.25rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 500;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                            line-height: 140%;
                        }
                    }
                }
                .sect3_card_bottom {
                    width: 21.5vw;
                    height: 18vh;
                    background-color: rgb(26, 26, 26);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect3_card_bottom_wh {
                        width: 18vw;
                        height: 13vh;
                        display: flex;
                        align-items: center;
                        .sect3_card_desc {
                            font-size: 1.125rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 400;
                            font-family: "Roboto Flex", monospace;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
}
.otst1 {
   height: 6vh;
   background-color: rgba(15, 15, 15, 1);
}
.sect4 {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect4_all {
         width: 94vw;
         height: 56vh;
         display: flex;
         gap: 1vw;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border: 2px solid rgb(31, 31, 31);
         border-radius: 24px;
        .sect4_header {
            width: 90vw;
            height: 14vh;
            background-color: rgb(26, 26, 26);
            border: 1px solid rgba(38, 38, 38, 1);
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sect4_header_wh {
                width: 85vw;
                height: 14vh;
                display: flex;
                align-items: center;
                .sect4_header_text {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 3rem;
                        color: rgba(249, 239, 236, 1);
                        font-weight: 600;
                        font-family: "Roboto Flex", monospace;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .sect4_cards_all {
            width: 90vw;
            height: 36vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sect4_card {
                width: 21.5vw;
                height: 36vh;
                background-color: rgb(26, 26, 26);
                border: 1px solid rgba(38, 38, 38, 1);
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                .sect4_card_wh {
                    width: 18vw;
                    height: 30vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    .sect4_card_top {
                        width: 18vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .sect4_card_tag {
                            height: 4.5vh;
                            width: 13.5vw;
                            background-color: rgba(31, 31, 31, 1);
                            border: 1px solid rgba(45, 45, 45, 1);
                            border-radius: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                font-size: 1rem;
                                color: rgba(179, 179, 178, 1);
                                font-family: "Roboto Mono", monospace;
                                .sect4_span_orange {
                                    color: rgba(206, 125, 99, 1);
                                }
                                span {
                                    color: rgba(249, 239, 236, 1);
                                }
                            }
                        }
                        .sect4_icon_box {
                            background-color: rgb(31, 31, 31);
                            border: 1px solid rgba(45, 45, 45, 1);
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .sect4_card_title {
                        p {
                            font-size: 1.25rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 500;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                            line-height: 140%;
                        }
                    }
                    .sect4_card_desc {
                        p {
                            font-size: 1.125rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 400;
                            font-family: "Roboto Flex", monospace;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
}
.sect5 {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect5_all {
        width: 94vw;
        height: 61vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid rgba(31, 31, 31, 1);
        border-radius: 24px;
        .sect5_header {
            width: 91vw;
            height: 14vh;
            background-color: rgb(26, 26, 26);
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sect5_header_wh {
                width: 86vw;
                height: 14vh;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .sect5_header_text {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 3rem;
                        color: rgba(249, 239, 236, 1);
                        font-weight: 600;
                        font-family: "Roboto Flex", monospace;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                }
                .sect5_header_btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.8vw;
                    justify-content: center;
                    cursor: pointer;
                    p {
                        font-size: 1.125rem;
                        color: rgba(179, 179, 178, 1);
                        font-weight: 500;
                        font-family: "Roboto Mono", monospace;
                        line-height: 150%;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .sect5_cards_all {
            width: 91vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sect5_card {
                width: 22vw;
                height: 40vh;
                border-radius: 16px;
                background-color: rgb(26, 26, 26, 1);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sect5_card_top {
                    width: 18.5vw;
                    height: 44vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .sect5_card_title {
                        width: 18.5vw;
                        p {
                            font-size: 1.5rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 600;
                            font-family: "Roboto Flex", monospace;
                            line-height: 140%;
                            text-transform: uppercase;
                        }
                    }
                    .sect5_card_text {
                        width: 17.5vw;
                        p {
                            font-size: 1.125rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 400;
                            font-family: "Roboto Flex", monospace;
                            line-height: 150%;
                        }
                    }
                }
                .sect5_card_bottom {
                    width: 21.8vw;
                    height: 12vh;
                    background-color: rgba(31, 31, 31, 1);
                    border-top: 2px solid rgba(31, 31, 31, 1);
                    border-radius: 0 0 14px 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .sect5_card_bottom_wh {
                        width: 18.5vw;
                        height: 12vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .sect5_card_user {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.8vw;
                            img {
                                width: 3vw;
                                height: 3vw;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                            .sect5_card_user_info {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 0.4vh;
                                .sect5_user_name {
                                    font-size: 1.25rem;
                                    color: rgba(249, 239, 236, 1);
                                    font-weight: 500;
                                    font-family: "Roboto Flex", monospace;
                                }
                                .sect5_user_role {
                                    font-size: 1.125rem;
                                    color: rgba(179, 179, 178, 1);
                                    font-weight: 400;
                                    font-family: "Roboto Flex", monospace;
                                }
                            }
                        }
                        .sect5_card_arrow {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
.sect6 {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect6_all {
        width: 94vw;
        height: 94vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 24px;
        .sect6_header {
            width: 94vw;
            height: 14vh;
            background-color: rgb(26, 26, 26);
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sect6_header_wh {
                width: 89vw;
                height: 14vh;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .sect6_header_text {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 3rem;
                        color: rgba(249, 239, 236, 1);
                        font-weight: 600;
                        font-family: "Roboto Flex", monospace;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                }
                .sect6_header_btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.8vw;
                    justify-content: center;
                    cursor: pointer;
                    p {
                        font-size: 1.125rem;
                        color: rgba(179, 179, 178, 1);
                        font-weight: 500;
                        font-family: "Roboto Mono", monospace;
                        line-height: 150%;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .sect6_content {
            width: 94vw;
            height: 74vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sect6_faq_all {
                width: 57vw;
                height: 74vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sect6_faq_card_open {
                    width: 58vw;
                    height: 24vh;
                    background-color: rgb(26, 26, 26);
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect6_faq_open_wh {
                        width: 51vw;
                        height: 19vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        .sect6_faq_top {
                            width: 51vw;
                            height: 5vh;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: start;
                            p {
                                font-size: 1.375rem;
                                color: rgba(249, 239, 236, 1);
                                font-weight: 500;
                                font-family: "Roboto Flex", monospace;
                            }
                        }
                        .sect6_faq_line {
                            width: 40vw;
                            height: 1px;
                            background-color: rgba(45, 45, 45, 1);
                        }
                        .sect6_faq_bottom {
                            width: 40vw;
                            display: flex;
                            align-items: end;
                            height: 8vh;
                            p {
                                font-size: 1.125rem;
                                color: rgba(179, 179, 178, 1);
                                font-weight: 400;
                                font-family: "Roboto Flex", monospace;
                                line-height: 150%;
                            }
                        }
                    }
                }
                .sect6_faq_card {
                    width: 58vw;
                    height: 11vh;
                    background-color: rgb(26, 26, 26);
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect6_faq_wh {
                        width: 51vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-size: 1.25rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 500;
                            font-family: "Roboto Flex", monospace;
                        }
                        .sect6_faq_icon {
                            cursor: pointer;
                        }
                    }
                }
            }
            .sect6_form_card {
                width: 36vw;
                height: 74vh;
                background-color: rgb(26, 26, 26);
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                .sect6_form_wh {
                    width: 31vw;
                    height: 62vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .sect6_form_title {
                        width: 31vw;
                        height: 5vh;
                        p {
                            font-size: 1.5rem;
                            color: rgba(249, 239, 236, 1);
                            font-weight: 600;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                        }
                    }
                    .sect6_form_hr {
                        width: 31vw;
                        height: 1px;
                        background-color: rgba(38, 38, 38, 1);
                    }
                    .sect6_form_field {
                        width: 31vw;
                        display: flex;
                        flex-direction: column;
                        gap: 1vh;
                        p {
                            font-size: 1rem;
                            color: rgb(179, 179, 178);
                            font-weight: 500;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                        }
                        input {
                            width: 31vw;
                            height: 6.5vh;
                            background-color: rgba(15, 15, 15, 1);
                            border: 1px solid rgba(15, 15, 15, 1);
                            border-radius: 10px;
                            color: rgba(249, 239, 236, 1);
                            font-family: "Roboto Flex", monospace;
                            font-size: 1rem;
                            text-indent: 1vw;
                            outline: none;
                        }
                    }
                    .sect6_form_field_big {
                        width: 31vw;
                        display: flex;
                        flex-direction: column;
                        gap: 1vh;
                        p {
                            font-size: 1rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 500;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                        }
                        textarea {
                            width: 31vw;
                            height: 16vh;
                            background-color: rgba(15, 15, 15, 1);
                            border: 1px solid rgba(15, 15, 15, 1);
                            border-radius: 10px;
                            color: rgba(249, 239, 236, 1);
                            font-family: "Roboto Flex", monospace;
                            font-size: 1rem;
                            text-indent: 1vw;
                            line-height: 4vh;
                            resize: none;
                            outline: none;
                        }
                    }
                    .sect6_form_btn {
                        width: 31vw;
                        height: 6vh;
                        background-color: rgba(206, 125, 99, 1);
                        border-radius: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        p {
                            font-size: 1.25rem;
                            color: rgba(15, 15, 15, 1);
                            font-weight: 600;
                            font-family: "Roboto Flex", monospace;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
.otsp2 {
    height: 6vh;
    background-color: rgba(15, 15, 15, 1);
}
.sect7 {
    width: 100vw;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    flex-direction: column;
    .sect7_all {
        width: 94vw;
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .sect7_banner {
            width: 94vw;
            height: 30vh;
            background-color: rgba(206, 125, 99, 1);
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            .sect7_banner_wh {
                width: 88vw;
                height: 18vh;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .sect7_banner_left {
                    width: 62vw;
                    height: 14vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .sect7_banner_title {
                        font-size: 3.625rem;
                        color: rgba(15, 15, 15, 1);
                        font-weight: 600;
                        font-family: "Roboto Flex", monospace;
                        text-transform: uppercase;
                        line-height: 110%;
                    }
                    .sect7_banner_subtitle {
                        width: 57vw;
                        font-size: 1.125rem;
                        color: rgba(26, 26, 26, 1);
                        font-weight: 400;
                        font-family: "Roboto Flex", monospace;
                        line-height: 140%;
                    }
                }
                .sect7_banner_btn {
                    width: 12.5vw;
                    height: 6vh;
                    background-color: rgb(15, 15, 15);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5vw;
                    cursor: pointer;
                    p {
                        font-size: 1.125rem;
                        color: rgba(249, 239, 236, 1);
                        font-weight: 500;
                        font-family: "Roboto Mono", monospace;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .sect7_ticker {
            width: 94vw;
            height: 7vh;
            background-color: rgb(20, 20, 20);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            .sect7_ticker_wh {
                width: 92vw;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 2vw;
                    align-items: center;
                    justify-content: center;
                }
                li {
                    font-size: 1.25rem;
                    color: rgba(179, 179, 178, 1);
                    font-weight: 500;
                    font-family: "Roboto Mono", monospace;
                    text-transform: uppercase;
                    white-space: nowrap;
                    }
                    li::marker {
                      color: rgba(206, 125, 99, 1);
                    }
            }
        }
        .sect7_content {
            width: 94vw;
            height: 65vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .sect7_socials_all {
                width: 38vw;
                height: 65vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sect7_socials_row {
                    width: 38vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .sect7_social_card {
                        width: 18.3vw;
                        height: 31vh;
                        background-color: rgb(26, 26, 26);
                        border-radius: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .sect7_social_wh {
                            width: 14.5vw;
                            height: 24vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;
                            .sect7_social_top {
                                width: 14.5vw;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                .sect7_social_icon {
                                    width: 3.2vw;
                                    height: 3.2vw;
                                    background-color: rgb(31, 31, 31);
                                    border-radius: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .sect7_social_arrow {
                                    cursor: pointer;
                                }
                            }
                            .sect7_social_bottom {
                                width: 14.5vw;
                                display: flex;
                                flex-direction: column;
                                gap: 1vh;
                                .sect7_social_title {
                                    font-size: 1.875rem;
                                    color: rgba(249, 239, 236, 1);
                                    font-weight: 600;
                                    font-family: "Roboto Flex", monospace;
                                    text-transform: uppercase;
                                }
                                .sect7_social_desc {
                                    width: 13vw;
                                    font-size: 1.125rem;
                                    color: rgba(179, 179, 178, 1);
                                    font-weight: 400;
                                    font-family: "Roboto Flex", monospace;
                                    line-height: 140%;
                                }
                            }
                        }
                    }
                }
            }
            .sect7_right_all {
                width: 54vw;
                height: 65vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sect7_links_card {
                    width: 54vw;
                    height: 35vh;
                    background-color: rgb(26, 26, 26);
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect7_links_wh {
                        width: 48vw;
                        height: 22vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: start;
                        .sect7_link_col {
                            display: flex;
                            flex-direction: column;
                            gap: 2.5vh;
                            .sect7_col_title {
                                font-size: 1.375rem;
                                color: rgba(249, 239, 236, 1);
                                font-weight: 600;
                                font-family: "Roboto Mono", monospace;
                            }
                            .sect7_col_list {
                                display: flex;
                                flex-direction: column;
                                gap: 2.8vh;
                                p {
                                    font-size: 1.125rem;
                                    color: rgba(179, 179, 178, 1);
                                    font-weight: 400;
                                    font-family: "Roboto Flex", monospace;
                                    cursor: pointer;
                                }
                                .sect7_badge_row {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 0.5vw;
                                    .sect7_badge {
                                        background-color: rgba(36, 36, 36, 1);
                                        border-radius: 6px;
                                        height: 2.6vh;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 0 0.5vw;
                                        p {
                                            font-size: 0.75rem;
                                            color: rgba(230, 230, 230, 1);
                                            font-family: "Roboto Mono", monospace;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .sect7_news_card {
                    width: 54vw;
                    height: 17vh;
                    background-color: rgb(26, 26, 26);
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect7_news_wh {
                        width: 48vw;
                        height: 11vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .sect7_news_text {
                            display: flex;
                            flex-direction: column;
                            gap: 1vh;
                            .sect7_news_subtitle {
                                font-size: 0.9rem;
                                color: rgba(179, 179, 178, 1);
                                font-weight: 500;
                                font-family: "Roboto Mono", monospace;
                                text-transform: uppercase;
                            }
                            .sect7_news_title {
                                font-size: 1.5rem;
                                color: rgba(249, 239, 236, 1);
                                font-weight: 600;
                                font-family: "Roboto Flex", monospace;
                                text-transform: uppercase;
                            }
                        }
                        .sect7_news_input_box {
                            width: 20vw;
                            height: 6vh;
                            border-bottom: 1px solid rgba(45, 45, 45, 1);
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            input {
                                width: 16vw;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                color: rgba(249, 239, 236, 1);
                                font-family: "Roboto Flex", monospace;
                                font-size: 1rem;
                            }
                            .sect7_news_btn {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .sect7_bottom_card {
                    width: 54vw;
                    height: 9vh;
                    background-color: rgb(26, 26, 26);
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sect7_bottom_wh {
                        width: 48vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .sect7_copy {
                            font-size: 1.125rem;
                            color: rgba(179, 179, 178, 1);
                            font-weight: 400;
                            font-family: "Roboto Mono", monospace;
                        }
                        .sect7_bottom_links {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 1vw;
                            p {
                                font-size: 1.125rem;
                                color: rgba(179, 179, 178, 1);
                                font-weight: 400;
                                font-family: "Roboto Mono", monospace;
                                cursor: pointer;
                            }
                            .sect7_bottom_line {
                                width: 1px;
                                height: 2vh;
                                background-color: rgba(60, 60, 60, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}