@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #0F0F0F;
}
header nav {
  width: 94vw;
  height: 11.75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A;
  border-radius: 16px;
}
header nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
}
header nav .navigat {
  width: 53vw;
  display: flex;
  flex-direction: row;
}
header nav .navigat ul {
  width: 40vw;
  display: flex;
  gap: 1vw;
}
header nav .navigat ul a {
  color: #81807E;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Mono", monospace;
}
header nav .navigat ul a .li1 {
  width: 5vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F0F0F;
  border-radius: 12px;
  font-size: 1.125rem;
}
header nav .navigat ul a .li2, header nav .navigat ul a .li3 {
  width: 7vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F0F0F;
  border-radius: 12px;
  font-size: 1.125rem;
}
header nav .navigat ul a .li4 {
  width: 5.4vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F0F0F;
  border-radius: 12px;
  font-size: 1.125rem;
}
header nav .navigat ul a .li5 {
  width: 6.5vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F0F0F;
  border-radius: 12px;
  font-size: 1.125rem;
}
header nav .navigat ul a .li6 {
  width: 5.4vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F0F0F;
  border-radius: 12px;
  font-size: 1.125rem;
}
header nav .navigat ul a .li7 {
  color: #0F0F0F;
  width: 8.2vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CE7D63;
  border-radius: 12px;
  font-size: 1.125rem;
}

.sect1 {
  width: 100vw;
  height: 145vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0F0F;
  flex-direction: column;
}
.sect1 .sect1_all {
  width: 94vw;
  height: 131vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 24px;
}
.sect1 .sect1_all .sect1_all_wh {
  width: 91vw;
  height: 121vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header {
  width: 91vw;
  height: 11vh;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh {
  width: 86.5vw;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_text {
  display: flex;
  align-items: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_text p {
  font-size: 3rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  line-height: 100%;
  text-transform: uppercase;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6vw;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_tabs .sect1_tab {
  width: 7.5vw;
  height: 4.8vh;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_tabs .sect1_tab p {
  font-size: 1rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_tabs .sect1_tab_active {
  width: 7.5vw;
  height: 4.8vh;
  background-color: rgb(206, 125, 99);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sect1 .sect1_all .sect1_all_wh .sect1_header .sect1_header_wh .sect1_header_tabs .sect1_tab_active p {
  font-size: 1rem;
  color: rgb(15, 15, 15);
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row {
  width: 91vw;
  height: 44vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_img {
  width: 29vw;
  height: 44vh;
  border-radius: 16px;
  border: 1px solid rgb(38, 38, 38);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content {
  width: 60vw;
  height: 45vh;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh {
  width: 55vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_title p {
  font-size: 1.875rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags {
  display: flex;
  flex-direction: row;
  gap: 0.6vw;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag1 {
  width: 11vw;
  height: 4vh;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(45, 45, 45);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag1 p {
  font-size: 1rem;
  color: rgb(179, 179, 178);
  font-family: "Roboto Mono", monospace;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag1 p .sect1_span_orange {
  color: rgb(206, 125, 99);
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag1 p span {
  color: rgb(249, 239, 236);
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag2 {
  width: 12.5vw;
  height: 4vh;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(45, 45, 45);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag2 p {
  font-size: 1rem;
  color: rgb(179, 179, 178);
  font-family: "Roboto Mono", monospace;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag2 p .sect1_span_orange {
  color: rgb(206, 125, 99);
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag2 p span {
  color: rgb(249, 239, 236);
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag3 {
  width: 14vw;
  height: 4vh;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(45, 45, 45);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag3 p {
  font-size: 1rem;
  color: rgb(179, 179, 178);
  font-family: "Roboto Mono", monospace;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag3 p .sect1_span_orange {
  color: rgb(206, 125, 99);
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_tags .sect1_featured_tag3 p span {
  color: rgb(249, 239, 236);
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_desc {
  width: 58vw;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_desc p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  line-height: 150%;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom {
  width: 58vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom .sect1_blog_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom .sect1_blog_btn .sect1_blog_circle {
  border-radius: 50%;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom .sect1_blog_btn a {
  text-decoration: none;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom .sect1_blog_btn p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom .sect1_featured_date p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-family: "Roboto Mono", monospace;
}
.sect1 .sect1_all .sect1_all_wh .sect1_featured_row .sect1_featured_content .sect1_featured_wh .sect1_featured_bottom .sect1_featured_date p span {
  color: rgb(249, 239, 236);
  text-transform: uppercase;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row {
  width: 91vw;
  height: 57vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card {
  width: 29.2vw;
  height: 62vh;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh {
  width: 26vw;
  height: 54vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_card_img {
  width: 26vw;
  height: 26vh;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_card_title p {
  font-size: 1.25rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
  line-height: 130%;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_card_desc {
  width: 26vw;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_card_desc p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  line-height: 140%;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_blog_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_blog_btn .sect1_blog_circle {
  border-radius: 50%;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .sect1_all .sect1_all_wh .sect1_cards_row .sect1_card .sect1_card_wh .sect1_blog_btn p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.sect5 {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0F0F;
  flex-direction: column;
}
.sect5 .sect5_all {
  width: 94vw;
  height: 61vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 24px;
}
.sect5 .sect5_all .sect5_header {
  width: 91vw;
  height: 14vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect5 .sect5_all .sect5_header .sect5_header_wh {
  width: 86vw;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.sect5 .sect5_all .sect5_header .sect5_header_wh .sect5_header_text {
  display: flex;
  align-items: center;
}
.sect5 .sect5_all .sect5_header .sect5_header_wh .sect5_header_text p {
  font-size: 3rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  line-height: 100%;
  text-transform: uppercase;
}
.sect5 .sect5_all .sect5_header .sect5_header_wh .sect5_header_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8vw;
  justify-content: center;
  cursor: pointer;
}
.sect5 .sect5_all .sect5_header .sect5_header_wh .sect5_header_btn p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  line-height: 150%;
  text-transform: uppercase;
}
.sect5 .sect5_all .sect5_cards_all {
  width: 91vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card {
  width: 22vw;
  height: 40vh;
  border-radius: 16px;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_top {
  width: 18.5vw;
  height: 44vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_top .sect5_card_title {
  width: 18.5vw;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_top .sect5_card_title p {
  font-size: 1.5rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  line-height: 140%;
  text-transform: uppercase;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_top .sect5_card_text {
  width: 17.5vw;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_top .sect5_card_text p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  line-height: 150%;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom {
  width: 21.8vw;
  height: 12vh;
  background-color: rgb(31, 31, 31);
  border-top: 2px solid rgb(31, 31, 31);
  border-radius: 0 0 14px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh {
  width: 18.5vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh .sect5_card_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8vw;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh .sect5_card_user img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh .sect5_card_user .sect5_card_user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4vh;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh .sect5_card_user .sect5_card_user_info .sect5_user_name {
  font-size: 1.25rem;
  color: rgb(249, 239, 236);
  font-weight: 500;
  font-family: "Roboto Flex", monospace;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh .sect5_card_user .sect5_card_user_info .sect5_user_role {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
}
.sect5 .sect5_all .sect5_cards_all .sect5_card .sect5_card_bottom .sect5_card_bottom_wh .sect5_card_arrow {
  cursor: pointer;
}

.sect6 {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0F0F;
  flex-direction: column;
}
.sect6 .sect6_all {
  width: 94vw;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 24px;
}
.sect6 .sect6_all .sect6_header {
  width: 94vw;
  height: 14vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect6 .sect6_all .sect6_header .sect6_header_wh {
  width: 89vw;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.sect6 .sect6_all .sect6_header .sect6_header_wh .sect6_header_text {
  display: flex;
  align-items: center;
}
.sect6 .sect6_all .sect6_header .sect6_header_wh .sect6_header_text p {
  font-size: 3rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  line-height: 100%;
  text-transform: uppercase;
}
.sect6 .sect6_all .sect6_header .sect6_header_wh .sect6_header_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8vw;
  justify-content: center;
  cursor: pointer;
}
.sect6 .sect6_all .sect6_header .sect6_header_wh .sect6_header_btn p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  line-height: 150%;
  text-transform: uppercase;
}
.sect6 .sect6_all .sect6_content {
  width: 94vw;
  height: 74vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all {
  width: 57vw;
  height: 74vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open {
  width: 58vw;
  height: 24vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open .sect6_faq_open_wh {
  width: 51vw;
  height: 19vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open .sect6_faq_open_wh .sect6_faq_top {
  width: 51vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open .sect6_faq_open_wh .sect6_faq_top p {
  font-size: 1.375rem;
  color: rgb(249, 239, 236);
  font-weight: 500;
  font-family: "Roboto Flex", monospace;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open .sect6_faq_open_wh .sect6_faq_line {
  width: 40vw;
  height: 1px;
  background-color: rgb(45, 45, 45);
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open .sect6_faq_open_wh .sect6_faq_bottom {
  width: 40vw;
  display: flex;
  align-items: end;
  height: 8vh;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card_open .sect6_faq_open_wh .sect6_faq_bottom p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  line-height: 150%;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card {
  width: 58vw;
  height: 11vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card .sect6_faq_wh {
  width: 51vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card .sect6_faq_wh p {
  font-size: 1.25rem;
  color: rgb(249, 239, 236);
  font-weight: 500;
  font-family: "Roboto Flex", monospace;
}
.sect6 .sect6_all .sect6_content .sect6_faq_all .sect6_faq_card .sect6_faq_wh .sect6_faq_icon {
  cursor: pointer;
}
.sect6 .sect6_all .sect6_content .sect6_form_card {
  width: 36vw;
  height: 74vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh {
  width: 31vw;
  height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_title {
  width: 31vw;
  height: 5vh;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_title p {
  font-size: 1.5rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_hr {
  width: 31vw;
  height: 1px;
  background-color: rgb(38, 38, 38);
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_field {
  width: 31vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_field p {
  font-size: 1rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_field input {
  width: 31vw;
  height: 6.5vh;
  background-color: rgb(15, 15, 15);
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
  color: rgb(249, 239, 236);
  font-family: "Roboto Flex", monospace;
  font-size: 1rem;
  text-indent: 1vw;
  outline: none;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_field_big {
  width: 31vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_field_big p {
  font-size: 1rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_field_big textarea {
  width: 31vw;
  height: 16vh;
  background-color: rgb(15, 15, 15);
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
  color: rgb(249, 239, 236);
  font-family: "Roboto Flex", monospace;
  font-size: 1rem;
  text-indent: 1vw;
  line-height: 4vh;
  resize: none;
  outline: none;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_btn {
  width: 31vw;
  height: 6vh;
  background-color: rgb(206, 125, 99);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sect6 .sect6_all .sect6_content .sect6_form_card .sect6_form_wh .sect6_form_btn p {
  font-size: 1.25rem;
  color: rgb(15, 15, 15);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}

.otsp2 {
  height: 6vh;
  background-color: rgb(15, 15, 15);
}

.sect7 {
  width: 100vw;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0F0F;
  flex-direction: column;
}
.sect7 .sect7_all {
  width: 94vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_banner {
  width: 94vw;
  height: 30vh;
  background-color: rgb(206, 125, 99);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect7 .sect7_all .sect7_banner .sect7_banner_wh {
  width: 88vw;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_banner .sect7_banner_wh .sect7_banner_left {
  width: 62vw;
  height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sect7 .sect7_all .sect7_banner .sect7_banner_wh .sect7_banner_left .sect7_banner_title {
  font-size: 3.625rem;
  color: rgb(15, 15, 15);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
  line-height: 110%;
}
.sect7 .sect7_all .sect7_banner .sect7_banner_wh .sect7_banner_left .sect7_banner_subtitle {
  width: 57vw;
  font-size: 1.125rem;
  color: rgb(26, 26, 26);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  line-height: 140%;
}
.sect7 .sect7_all .sect7_banner .sect7_banner_wh .sect7_banner_btn {
  width: 12.5vw;
  height: 6vh;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
}
.sect7 .sect7_all .sect7_banner .sect7_banner_wh .sect7_banner_btn p {
  font-size: 1.125rem;
  color: rgb(249, 239, 236);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.sect7 .sect7_all .sect7_ticker {
  width: 94vw;
  height: 7vh;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}
.sect7 .sect7_all .sect7_ticker .sect7_ticker_wh {
  width: 92vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect7 .sect7_all .sect7_ticker .sect7_ticker_wh ul {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}
.sect7 .sect7_all .sect7_ticker .sect7_ticker_wh li {
  font-size: 1.25rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  white-space: nowrap;
}
.sect7 .sect7_all .sect7_ticker .sect7_ticker_wh li::marker {
  color: rgb(206, 125, 99);
}
.sect7 .sect7_all .sect7_content {
  width: 94vw;
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all {
  width: 38vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row {
  width: 38vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card {
  width: 18.3vw;
  height: 31vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh {
  width: 14.5vw;
  height: 24vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh .sect7_social_top {
  width: 14.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh .sect7_social_top .sect7_social_icon {
  width: 3.2vw;
  height: 3.2vw;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh .sect7_social_top .sect7_social_arrow {
  cursor: pointer;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh .sect7_social_bottom {
  width: 14.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh .sect7_social_bottom .sect7_social_title {
  font-size: 1.875rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}
.sect7 .sect7_all .sect7_content .sect7_socials_all .sect7_socials_row .sect7_social_card .sect7_social_wh .sect7_social_bottom .sect7_social_desc {
  width: 13vw;
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  line-height: 140%;
}
.sect7 .sect7_all .sect7_content .sect7_right_all {
  width: 54vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card {
  width: 54vw;
  height: 35vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh {
  width: 48vw;
  height: 22vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col .sect7_col_title {
  font-size: 1.375rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col .sect7_col_list {
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col .sect7_col_list p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Flex", monospace;
  cursor: pointer;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col .sect7_col_list .sect7_badge_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col .sect7_col_list .sect7_badge_row .sect7_badge {
  background-color: rgb(36, 36, 36);
  border-radius: 6px;
  height: 2.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5vw;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_links_card .sect7_links_wh .sect7_link_col .sect7_col_list .sect7_badge_row .sect7_badge p {
  font-size: 0.75rem;
  color: rgb(230, 230, 230);
  font-family: "Roboto Mono", monospace;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card {
  width: 54vw;
  height: 17vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh {
  width: 48vw;
  height: 11vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh .sect7_news_text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh .sect7_news_text .sect7_news_subtitle {
  font-size: 0.9rem;
  color: rgb(179, 179, 178);
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh .sect7_news_text .sect7_news_title {
  font-size: 1.5rem;
  color: rgb(249, 239, 236);
  font-weight: 600;
  font-family: "Roboto Flex", monospace;
  text-transform: uppercase;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh .sect7_news_input_box {
  width: 20vw;
  height: 6vh;
  border-bottom: 1px solid rgb(45, 45, 45);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh .sect7_news_input_box input {
  width: 16vw;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(249, 239, 236);
  font-family: "Roboto Flex", monospace;
  font-size: 1rem;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_news_card .sect7_news_wh .sect7_news_input_box .sect7_news_btn {
  cursor: pointer;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_bottom_card {
  width: 54vw;
  height: 9vh;
  background-color: rgb(26, 26, 26);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_bottom_card .sect7_bottom_wh {
  width: 48vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_bottom_card .sect7_bottom_wh .sect7_copy {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_bottom_card .sect7_bottom_wh .sect7_bottom_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_bottom_card .sect7_bottom_wh .sect7_bottom_links p {
  font-size: 1.125rem;
  color: rgb(179, 179, 178);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}
.sect7 .sect7_all .sect7_content .sect7_right_all .sect7_bottom_card .sect7_bottom_wh .sect7_bottom_links .sect7_bottom_line {
  width: 1px;
  height: 2vh;
  background-color: rgb(60, 60, 60);
}/*# sourceMappingURL=style.css.map */